@import url(css/loader.css);
@import url(css/controls.css);
@import url(css/song.css);
@import url(css/library.css);
@import url(css/album.css);

:root {
    --blur: 8px;
    --backgrund_opacity: rgba(0, 0, 0, .6);
    --background_controls: rgba(0, 0, 0, .45);
    --violet: rgb(225, 107, 255);
    --hover_music: rgba(26, 26, 26, 0.39);
    --music_playin: rgb(4, 4, 5);
    --gray_back: #ADADAD;
}

/* Reset básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Layout general */
body {
    display: flex;
    height: 100dvh;
}

/* Parte izquierda */
.content_music_view {
    width: 70%;
    position: relative;
    display: flex;
}

/* Parte derecha */
.music-list {
    width: 30%;
    padding: 0 1rem;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background: var(--backgrund_opacity);
    backdrop-filter: blur(var(--blur));
    box-shadow: 0 0 15px black;

    .song-item.playing {
        background: var(--music_playin);
        transition: all 1s ease-in-out;
    }
}


/* Animaciones globales */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}